<h1><%= @cat.name %></h1>

<table>
  <tbody>
    <tr>
      <th>Birthdate</th>
      <th>Color</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><%= @cat.birthdate %></td>
      <td><%= @cat.color %></td>
      <td><%= @cat.name %></td>
      <td><%= @cat.sex %></td>
      <td><%= @cat.description %></td>
    </tr>
  </tbody>
</table>
